<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="lt.vu.mybatis.model.User" alias="User"/>
        <typeAlias type="lt.vu.mybatis.model.UserOrder" alias="UserOrder"/>
        <typeAlias type="lt.vu.mybatis.model.Product" alias="Product"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="MANAGED"/>
            <dataSource type="JNDI">
                <property name="data_source" value="PlayersDataSource"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mybatis.xml/UserMapper.xml"/>
        <mapper resource="mybatis.xml/ProductMapper.xml"/>
    </mappers>
</configuration>
